*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
    outline:none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
  }
  
  html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x:hidden;
  }
  
  section {
    padding: 2rem 9%;
  }
  
  /*HEADER SECTION*/
  header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #c8d6be;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow:0 .5rem 1rem #3B3936;
  }
  
  header .logo{
    font-size: 3rem;
    color:#3B3936;
    font-weight: bolder;
  }
  
  header .logo span{
    color:#549522;
  }
  
  header .navbar a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color:#3B3936;
  }
  
  header .navbar a:hover{
    color:#549522;
  }
  
/*MAIN SECTION */
 .about{
    padding: 10rem 5rem;
}
  .content h3{
    font-size: 3rem;
    color: #3B3936;
    
  }
  .content p{
    font-size: 1.5rem;
    color:#3B3936;
    padding: .5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
  }
  .content span{
    color: #549522;
  }  