*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
    outline:none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
  }
  
  html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x:hidden;
  }
  
  section {
    padding: 2rem 9%;
  }
  
  /*HEADER SECTION*/
  header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #c8d6be;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow:0 .5rem 1rem #3B3936;
  }
  
  header .logo{
    font-size: 3rem;
    color:#3B3936;
    font-weight: bolder;
  }
  
  header .logo span{
    color:#549522;
  }
  
  header .navbar a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color:#3B3936;
  }
  
  header .navbar a:hover{
    color:#549522;
  }

/* PRODUCT LISTING SECTION */
.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 10rem 5rem;
}

.container .title{
    font-size: 3.5rem;
    color: #3B3936;
    margin-bottom: 3rem;
    text-align: center;
}

.container .title span {
    color:#549522;
}

.container .product-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;
}

.container .product{
    text-align: center;
    padding: 3rem;
    background-color: #ececec;
    box-shadow: 0 .5rem 1rem #3B3936;
    outline: .1rem solid #fff;
    outline-offset: -1.5rem;
    cursor: pointer;
}

.container .product:hover{
    outline :.2rem solid #3B3936;
    outline-offset: 0;
}

.container .product img{
    height: 25rem;

}
.container .product:hover img{
    transform: scale(.9)
}

.container .product:hover h3{
    color:#549522;
}

.container .product h3{
    padding: .5rem 0;
    font-size: 2rem;
    color: #3B3936;
}
.container .product .price{
    font-size: 2.5rem;
    color: #3b3936c4;
}

/* PRODUCTS PREVIEW SECTION */
.product-preview{
    position: fixed;
    top:0;
    left: 0;
    max-height: 100vh;
    width: 100%;
    background-color: #ece9eb95;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-preview .preview{
    display: none;
    padding: 2rem;
    text-align: center;
    background: #fff;
    position: relative;
    margin: 25rem;
    width: 40rem;
    border-radius: .7rem;
}
.product-preview .preview.active{
    display: inline-block;
}

.product-preview .preview img{
    height: 30rem;

}

.product-preview .preview .fa-times{
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    color: #3B3936;
    font-size: 4rem;
}
.product-preview .preview .fa-times:hover{
  color:#549522;
}

.product-preview .preview h3{
    color: #3B3936;
    padding: .5rem 0;
    font-size: 2.5rem;

}

.product-preview .preview .stars{
    padding: 1rem 0 ;
    font-size: 1.7rem;
}

.product-preview .preview .stars i {
    color: #549522;
}

.product-preview .preview .stars span{
    color: #3b3936c4;
}

.product-preview .preview p{
    line-height: 1.5;
    padding: 1rem 0;
    font-size: 1.7rem;
    color: #3b3936d1;
}

.product-preview .preview .price{
    padding: 1rem 0 ;
    font-size: 2.5rem;
    color: #549522;
}

/*MEDIA QUERIES*/
@media screen and (max-width:450px) {
    html{
      font-size: 50%;
    }
    .heading{
      font-size: 3rem;
    }
    .container .product-container{
        grid-template-columns: auto;
    }
}
  
@media screen and (max-width:768px) {
    header .navbar{
      position: absolute;
      top: 100%;
      left:0;
      right: 0;
      background: #c8d6be ;
      border-top: .2rem solid #3B3936;
      display: none;
    }
  
    header .navbar a{
      margin: 1.5rem;
      padding: 1.5rem;
      background: #c8d6be;
      border: .2rem solid #3B3936 ;
      border-radius: 3rem;
    }
    .container .product-container{
        grid-template-columns:  1fr 1fr;
    }
    .product-preview .preview{
        margin-top:35rem;
    }
}
  
@media screen and  (max-width:991px) {
  
     html{
       font-size: 55%;
     }
     header{
       padding: 2rem;
     }
}
 